@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Raleway;
}

body {
  @apply bg-[#F8F8F8] overflow-x-hidden;
}

.container {
  max-width: 1700px !important;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  background-color: white;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #666A72;
  border-radius: 25px;
}

body::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::selection {
  background-color: black;
  color: white;
}

::-moz-selection {
  background-color: black;
  color: white;
}

.bg-join {
  background: url("../src/assets/joinus.png") center center no-repeat;
  background-size: cover;
}

@layer components {

  .fill-left {
    @apply mx-5 sm:mx-11 md:mx-[120px] border-l border-l-[#D9D9D9]
  }

  .fill-header-bottom {
    @apply border-b border-b-[#D9D9D9];
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 99.5vw;
  }

  .fill-navbar-bottom {
    @apply border-b border-b-[#D9D9D9];
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
  }

  .fill-navbar-right {
    position: relative;
    height: 100vh;
  }

  .text-shadow-xl {
    text-shadow: 3px 3px 8px rgb(0, 0, 0);
  }

  .sort-btn {
    @apply text-neutral-800 bg-gray-200 rounded-xl py-2 px-6 hover:bg-neutral-800 hover:text-white text-sm font-semibold;
  }
}